<%- include('includes/header')%>
<% isLoggedIn ? isLoggedIn = true : isLoggedIn = false %>
<%- include('includes/navHeader')%>    

       

<%- include('includes/errors')%>    

        <div class="welcome-m-container">
            <div class="welcome-sidebar1">
                <div class="welcome-m-h1">
                    <h1>Your <span style="color: rgb(212, 78, 0);">Favourite</span> Online Platform</h1>
                </div>

                <div class="welcome-m-p">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam omnis distinctio ab porro voluptas magni impedit. Ad quod perferendis saepe eveniet ipsum quibusdam consequuntur, eligendi id nam temporibus esse mollitia.
                    </p>
                </div>
            </div>

            <div class="welcome-sidebar2">
                <div class="welcome-m-img">
                    <img src="/images/education8.svg" alt="IMG">
                </div>
            </div>
        </div>

        <div class="rec-topics-container">
            
            <!-- forwards and backwards -->
            <div class="rec-forward"><i class="fas fa-chevron-right"></i></div>
            <div class="rec-backward"><i class="fas fa-chevron-left"></i></div>
            
            <div class="rec-topics-inner">

                <div class="rec-topics-head">
                    <h1>Topics You may like</h1>
                </div>
    
                <div class="rec-topics-flex">
                    <div class="rec-topics-sidebar1">
                        <% topics.forEach(topic => { %>
                            <div class="rec-box">
                                <a href="#">
                                    <div class="rec-box-top" style="background-image: url('<%= topic.pic %>');">
                                        <div class="rec-box-top-overlay">
                                            <div class="free">
                                                <% if (topic.isFree == true) { %>
                                                    <p>free</p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="rec-box-bottom">
                                        <div class="rec-box-title">
                                            <h1><%= topic.name %></h1>
                                        </div>
        
                                        <div class="rec-box-message">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                                        </div>
    
                                        <div class="rec-box-author">
                                            <h2>Author</h2>
                                            <p>Inuwa Muhammad Ahmad</p>
                                            <p>University of Jos</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

        <div class="instructor-container">
            <div class="instructor-container-inner">
                <div class="instructor-illustrator">
                    <div>
                        <img src="/images/education.svg" alt="Illustration">
                    </div>
                </div>

                <div class="illustrator-sidebar">
                    <div class="welcome-sidebar1">
                        <div class="welcome-m-h1">
                            <h1>Are You an Instructor?</h1>
                        </div>
        
                        <div class="welcome-m-p">
                            <p>
                                Sign Up for our instructor page and start teaching our more than 100,000 users. Totam omnis distinctio ab porro voluptas magni impedit. Ad quod perferendis saepe eveniet ipsum quibusdam consequuntur, eligendi id nam temporibus esse mollitia.
                            </p>
                        </div>
    
                        <div class="welcome-m-button">
                            <a href="/instructor/signup"><button>Sign Up</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('includes/footer') %>